.Colonne{
  height: fit-content;
  color: black;
  border: 1rem solid white;
  background-color: rgba(255, 255, 255, 0.457);
  width: 100%;
}

.blocAjoutColonne {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  position:sticky
}

.blocAjoutColonne > div {
  width: fit-content;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  text-decoration: underline; 
  text-decoration-style: double;
  
}

.blocAjoutColonne input{
  width: 100%;
  border: none;
  margin:1rem 0 ;
  text-align: center;



}
.blocAjoutColonne button{
background-color: rgb(112, 155, 187);
color: white;
width: 100%;
  border: none;
  border-radius: 1rem;

}
.blocAjoutColonne button:hover{
  background-color:rgba(112, 154, 187, 0.461);
  color: black
}
.containerColonne{
  display: flex;

  flex-wrap: wrap;
}
.containerColonne h3{
  text-align: center;
}

.containerColonne{
justify-content: center;
gap: 1rem;
margin: 1rem 
}


.containerColonne > div{
    background-color: antiquewhite;
  width: 20vw;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem;
    box-sizing: border-box;

}
.buttonDelete{
  margin: 2rem 0;
}