@tailwind base;
@tailwind components;
@tailwind utilities;

body{background-color: rgba(0, 0, 0, 0.107);
width: 80vw;
margin: auto;}

section > div{
  display: flex;
  border: 1px solid black;
}

section > div :first-child{
  width: 30%;
text-align: center;
}

section > div :last-child{
  width:70%;
  text-align: center;

}